body {
  background-color: rgb(19, 25, 46); 
  font-family: 'Roboto', sans-serif;
  line-height: 1.6;
}
  
.row-header {
  background-color: #ffffff;
  width: 100%;
  padding: 2rem 0;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  background-image: radial-gradient(circle 341px at 10% 20%, rgba(132, 94, 194, 1) 0%, rgba(196, 243, 251, 1) 90%);
  color: #333;
}

.h1 {
  color: #333;
  padding: 0;
  text-align: center;
  font-size: 3rem;
  letter-spacing: 1px;
  font-weight: 600;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  flex-direction: column;
  padding: 2rem;
}

.card {
  width: 20rem;
  height: 25rem; 
  background-color: rgb(60, 80, 110);
  border: 1px solid #000000;
  border-radius: 15px;
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  overflow: hidden; 
}

.card-img-top {
  width: 100%; 
  height: 50%; 
  object-fit: cover; 
}

.card-body {
  background-color: rgb(60, 80, 110);
  color: #ffffff;
  padding: 1.5rem;
  border-radius: 0 0 15px 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between; 
  height: 100%; 
}

.card-title {
  margin-bottom: auto; 
}

.card-text {
  margin-top: 10px; 
}

.card a.btn {
  margin-top: auto; 
}


.btn-primary {
  background-color: #007bff;
  border-color: #0056b3;
  color: #fff;
  padding: 0.8rem 1.6rem;
  font-size: 1rem;
  border-radius: 30px;
  text-transform: uppercase;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.btn-primary:hover {
  background-color: #7e3aff;
  transform: translateY(-3px);
}

.btn-primary:active {
  transform: translateY(0);
}

.row {
  display: flex;
  justify-content: center;
  gap: 3rem;
  flex-wrap: wrap;
}



@media (max-width: 768px) {
  .row {
    flex-direction: column;
    align-items: center;
  }

  .card {
    width: 100%;
    margin-bottom: 2rem;
  }
}
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}
.sidebar {
  height: 100vh;
  width: 0;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #272e34;
  overflow-x: hidden;
  padding-top: 50px;
  transition: 0.5s;
  z-index: 1050;
}

.sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 18px;
  color: #f8f9fa;
  display: block;
  transition: 0.3s;
}

.sidebar a:hover {
  color: #ced4da;
}

.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
  color: #f8f9fa;
  text-decoration: none;
}

.main-content {
  transition: margin-left 0.5s;
  padding-left: 0;
}

.sidebar-open .main-content {
  padding-left: 250px;
}

.menu-btn {
  background: none;
  border: none;
  color: white;
  padding: 10px 15px;
  font-size: 20px;
  cursor: pointer;
}

.menu-btn:focus {
  outline: none;
}
.menu-btn:hover {
  transform: translateY(-3px);
  color: #007bff;
}

